{% extends "base/base.html" %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/admin.css' %}" />
{% endblock head %}
{% block title %}Личный кабинет{% endblock title %}
{% block header %}Кабинет администратора{% endblock %}
{% block content %}
<div id="shift-modal" class="showed wrapper-modal">{% include "base/modal.html" %}</div>
<div id="centerblock">
<div id="shifts">{% include "base/calendar.html" %}</div>
<div id="appointments">{% include "base/calendar.html" %}</div>
</div>
<div id="menu">
    <h3>(Ужасное) Меню</h3>
    <ul>
        <li><a href="{% url 'logout' %}">Выйти из аккаунта</a></li>
        <li><a href="{% url 'main' %}">На главную</a></li>
        <li><a href="/admin">Войти в панель администратора</a></li>
    </ul>
</div>
{% endblock %}
{% block footer %}
{% include "base/admin_footer.html" %}
{% endblock %}
{% block scripts %}
{{ shifts_calendar|json_script:"shifts-calendar" }}
<script type="module" src="{% static 'js/admin.js' %}"></script>
{% endblock %}