{% extends "base/base.html" %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/admin.css' %}" />
{% endblock head %}
{% block title %}Личный кабинет{% endblock title %}
{% block header %}Кабинет администратора{% endblock %}
{% block content %}
<!-- <div id="shift-modal" class="showed wrapper-modal">{% include "base/modal.html" %}</div> -->
<div class="centerblock">
    <div id="shifts"></div>
    <div id="appointments"></div>
    </div>
    <div id="menu">
        <h3>Меню</h3>
        <ul>
            <li><a href="{% url 'logout' %}">Выйти из аккаунта</a></li>
            <li><a href="{% url 'profile' %}">Мой профиль</a></li>
            <li><a href="/admin">Войти в панель администратора</a></li>
            <li class="ul-header">Регистрация пользователей:</li>
            <ul class="with-padding">
                <li><a href="{% url 'signup' role='A' %}">Регистрация администратора</a></li>
                <li><a href="{% url 'signup' role='E' %}">Регистрация сотрудника</a></li>
                <li><a href="{% url 'signup' role='C' %}">Регистрация клиента</a></li>
            </ul>
        </ul>
</div>
{% endblock %}
{% block footer %}
{% include "base/admin_footer.html" %}
{% endblock %}
{% block scripts %}
<script type="module" src="{% static 'js/admin.js' %}"></script>
{% endblock %}