{% extends "base/base.html" %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/client.css' %}" />
<link rel="stylesheet" href="{% static 'css/forms.css' %}"/>
{% endblock head %}
{% block title %}Личный кабинет{% endblock title %}
{% block header %}Кабинет клиента{% endblock %}
{% block content %}
<div class="form">
    {% if ap_list %}
    <div>
        <h3>Ваши записи:</h3>
        <ul>
            {% for ap in ap_list %}
            <li>Дата: {{ ap.date }}, время: {{ ap.time }}. {{ ap.service }} (цена: {{ ap.service.cost }})</li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
    <h2>Онлайн-запись в салон</h2>
    <form method="post">
        {% csrf_token %}
        <p>
            <label for="{{ form.service.id_for_label }}">{{ form.service.label }}</label>
            {{ form.service }}
            {{ form.service.error }}
        </p>
        <p>Цена услуги: <span id="cost">0</span> рублей</p>
        <p>
            <label for="{{ form.date.id_for_label }}">{{ form.date.label }}</label>
            {{ form.date }}
            <span class="helptext">{{ form.date.help_text }}</span>
            {{ form.date.error }}
            <span class="errorlist" id="error-mess-date"></span>
        </p>
        <p id="help-mess">Введите данные выше, чтобы выбрать время вашей записи.</p>
        <p class="hidden">
            <label for="time">Выберите время</label>
            {{ form.time }}
            {{ form.time.error }}
            <span class="errorlist" id="error-mess-time"></span>
        </p>
    </form>
    <button id="sub">Отправить</button>
</div>
<div id="menu" class="close centered-cont">
    <div class="menu-bar">
        <div class="bar1"></div>
        <div class="bar2"></div>
        <div class="bar3"></div>
    </div>
    <div class="menu-inner centered-cont">
        <h3>Меню</h3>
        <a href="{% url 'logout' %}">Выйти из аккаунта</a>
        <a href="{% url 'profile' %}">Мой профиль</a>
    </div>
</div>
{% endblock %}
{% block footer %}
{% include "base/client_footer.html" %}
{% endblock %}
{% block scripts %}
<script type="module" src="{% static 'js/client.js' %}"></script>
{% endblock %}