{% extends "base/base.html" %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}" />
{% endblock head %}
{% block title %}Личный кабинет{% endblock title %}
{% block header %}Личный кабинет{% endblock %}
{% block content %}
    <h1>Вам не доступна эта страница</h1>
    <p><a href="/">Вернуться на главную</a></p>
    <p><a href="{% url 'login' %}">Войти</a></p>
    <p><a href="{% url 'signup' %}">Зарегистрироваться</a></p>
{% endblock %}
{% block footer %}
<div class="footer-cont"><p id="footer-title">BeautyManage</p></div>
<div class="footer-cont"><p>Разработчик: Елкина Галина<br>gufkz.tkrbyf@yandex.ru</p></div>
{% endblock %}