@import "./calendar.css";
@import url(./modal.css);
#shifts {width: 90%;}
.shift{
    margin: 2px;
    padding: 3px;
    border-radius: 15px;
    text-align: center;
    color: #222;
    overflow: hidden;
    cursor: default;
    background-color: #8c6dbd33;
}
.calendar .centered-cont {cursor: default}
.calendar .appointment {cursor: pointer;}
#unconfirmed-shifts {width: 90%;}
#unconfirmed-shifts ul {padding-left: 0px;}
#unconfirmed-shifts li {
    margin: 5px 0px;
    display: flex;
    flex-direction: row;
}
.list-symbol {
    margin-left: 10px;
    margin-right: 10px;
}
.confirm {
    border: 0px;
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #8c6dbd;
    color: #fff;
    border-radius: 3px;
    padding: 7px;
    margin-left: 10px;
}
.confirm:hover {
    background-color: #8c6dbd77;
}
.confirm:active {
    background-color: #8c6dbd;
}

@media (max-width : 1024px) {
    .confirm {font-size: small;}
}

@media (max-width : 760px) {
    .confirm {font-size: smaller;}
}

@media (max-width : 480px) {
    .confirm {font-size: x-small;}
}