@import "./modal.css";
#services {width: 90%;}
.btn {
    border: 0px;
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #8c6dbd;
    color: #fff;
    border-radius: 3px;
    padding: 7px;
}
.btn:hover {
    background-color: #8c6dbd77;
}
.btn:active {
    background-color: #8c6dbd;
}
.service-table {
    border-spacing: 0;
    border-collapse: collapse;
    width: 100%;
    margin: 10px 0px;
}
.service-table thead {
    text-align: center;
    font-weight: bold;
}
.service-table thead td {
    padding: 5px;
}
.service-table tbody td {
    padding: 5px;
    min-width: 30px;
    vertical-align: top;
    border: solid 1px gray;
}
.center-text {text-align: center}
.chng-srvc {
    font-weight: bold;
    cursor: pointer;
    color: #8c6dbd;
    text-decoration: none;
}
.chng-srvc:hover {text-decoration: underline}
.chng-srvc:active {opacity: 70%}