.form {
    width: 90%;
    padding: 2% 5%;
}
.form *:focus {
    outline:none !important;
}
.form input, select {
    border: 2px solid #8c6dbd77;
}
.form input, select:focus-visible {
    border-color:#8c6dbd;
}
.form button {
    border: 0px;
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #8c6dbd;
    color: #fff;
    border-radius: 3px;
    padding: 7px;
}
.form button:hover {
    background-color: #8c6dbd77;
}
.form button:active {
    background-color: #8c6dbd;
}
.form ul {
    font-size: small;
    display: block;
}
.form .helptext {
    font-size: smaller;
    display: block;
    color: #666;
}
.form .errorlist {
    font-size: small;
    color: red;
    list-style: none;
    padding-left: 0;
}