{% extends "base/form.html" %}
{% load static %}
{% block title %}Сброс пароля{% endblock %}
{% block header %}Восстановление пароля{% endblock %}
{% block form-content %}
{% if validlink %}
<p>Пожалуйста, введите и подтвердите ваш новый пароль.</p>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Изменить пароль</button>
</form>
{% else %}
    <h1>Произошла ошибка</h1>
    <p>Ссылка для сброса пароля не действительна,
        возможно, по причине того, что она уже была использована.
        Пожалуйста, повторите попытку сброса пароля снова.</p>
{% endif %}
{% endblock %}
{% block footer %}
{% include "base/client_footer.html" %}
{% endblock %}