{% extends "base/form.html" %}
{% load static %}
{% block title %}Сброс пароля{% endblock %}
{% block header %}Восстановление пароля{% endblock %}
{% block form-content %}
<p>Забыли пароль? Введите свой номер телефона ниже, и мы вышлем вам инструкцию, как установить новый пароль.</p>
<form method="post">
    {% csrf_token %}
    <p>
        <label for="id_email">Номер телефона: </label>
        <input name="email" id="id_email">
        <span class="helptext"></span>
    </p>
    <button type="submit">Сбросить пароль</button>
</form>
{% endblock %}
{% block footer %}
{% include "base/client_footer.html" %}
{% endblock %}