{% extends "base/form.html" %}
{% load static %}
{% block title %}Изменение пароля{% endblock %}
{% block header %}Форма изменения пароля{% endblock %}
{% block form-content %}
<p>Пожалуйста, введите сначала ваш старый пароль (чтобы мы могли убедиться, что это вы),
    а затем введите и подтвердите ваш новый пароль.</p>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Изменить пароль</button>
    <button class="btn-back" onclick="history.back()">Назад</button>
</form>
{% endblock %}
{% block footer %}
{% include "base/client_footer.html" %}
{% endblock %}