@import "./calendar.css";
@import "./modal.css";
#shifts {width: 90%;}
#appointments {
    width: 90%;
    margin-top: 20px;
}
#menu ul .with-padding {
    list-style: circle;
    padding-left: 20px;
}
.ul-header {
    margin: 5px 0px;
    font-weight: bold;
}

@media (max-width : 1024px) {
}

@media (max-width : 760px) {
}

@media (max-width : 480px) {
}