@import "./calendar.css";
@import "./modal.css";
#content{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
}
#centerblock{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}
#shifts {width: 90%;}
#appointments {
    width: 90%;
    margin-top: 20px;
}
.master {
    margin: 2px;
    padding: 3px;
    border-radius: 15px;
    text-align: center;
    overflow: hidden;
    cursor: pointer;
}
.unconfirmed {
    background-color: #f575757f;
}
.confirmed {
    background-color: #a4f5757f;
}
.room {
    display: block;
    margin: 1px;
    padding: 2px;
    border-radius: 15px;
    background-color: #ffffffdf;
    overflow: hidden;
    font-size: smaller;
}
#menu {
    min-width: 25%;
    margin: 0 10px;
    font-size: small;
}
#menu ul {
    list-style: none;
    padding-left: 0;
}
#menu h3 {margin: 0}

@media (max-width : 1024px) {
}

@media (max-width : 760px) {
    #menu {display: none}
}

@media (max-width : 480px) {
}