#content{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
}
#centerblock{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}
#shifts {width: 90%;}
#appointments {
    width: 90%;
    margin-top: 20px;
}
.master {
    margin: 2px;
    padding: 3px;
    border-radius: 15px;
    text-align: center;
}
.unconfirmed {
    background-color: #f575757f;
}
.confirmed {
    background-color: #a4f5757f;
}
#menu {
    min-width: 25%;
    margin: 0 10px;
    font-size: small;
}
#menu ul {
    list-style: none;
    padding-left: 0;
}

@media (max-width : 1024px) {
}

@media (max-width : 760px) {
    #menu {display: none}
}

@media (max-width : 480px) {
}