<div class="modal-wrapper invisible">
    <div class="modal">
        <div class="modal-header">
            <h2 class="modal-title"></h2>
            <button id="btn-close">🞫</button>
        </div>
        <div class="modal-inner">
            <div class="form">
                <p id="common-error" class="errorlist"></p>
                <form method="post" action="">{% csrf_token %}</form>
                <button id="btn-submit"></button>
            </div>
        </div>
    </div>
</div>