{% extends "base/base.html" %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}" />
{% endblock head %}
{% block title %}Регистрация{% endblock %}
{% block header %}Регистрация{% endblock %}
{% block content %}
    <form method="post">
        {% csrf_token %}
        {% for field in form %}
        <div>
            <p>{{ field.label_tag }}<br>
                {{ field }}<br>
                {% if field.help_text %} <small>{{ field.help_text }}</small> {% endif %}
                {% for error in field.errors %} <br><small style="color: red;">{{ error }}</small> {% endfor %}
            </p>
        </div>
        {% endfor %}
        <button type="submit">Загеристрироваться</button>
    </form>
    {% endblock %}