<table class="calendar">
    <thead>
        <tr><td colspan="7"><div class="calendar-title-cont">
                    <h2></h2>
                    <span>
                        <span class="date"></span>
                        <button class="calendar-btn">﹤</button>
                        <button class="calendar-btn">Сегодня</button>
                        <button class="calendar-btn">﹥</button>
                    </span>
        </div></td></tr>
        <tr class="right bordered"><td>пн</td><td>вт</td><td>ср</td><td>чт</td><td>пт</td><td>сб</td><td>вс</td></tr>
    </thead>
    <tbody class="bordered"></tbody>
</table>